@layer base {
  #wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "a a"
      "a a";

    @media screen(lg) {
      gap: theme("gap.4");
      grid-template-rows: 1fr;
      grid-template-columns: minmax(min-content, theme("width.48")) 1fr minmax(
          min-content,
          max-content
        );
      grid-template-areas:
        "s a t"
        "s a t";
    }
  }

  #sidenav {
    grid-area: s;
  }

  #article {
    grid-area: a;
  }

  #toc {
    grid-area: t;
  }
}
