@layer base {
  #wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "a a"
      "a a";

    @media screen(lg) {
      gap: theme("gap.4");
      grid-template-rows: repeat(2, auto);
      grid-template-columns: theme("width.56") auto minmax(
          theme("width.44"),
          max-content
        );
      grid-template-areas:
        "s a t"
        "s a t";
    }
  }

  #sidenav {
    grid-area: s;
  }

  #article {
    grid-area: a;
  }

  #toc {
    grid-area: t;
  }
}
