@layer base {
  #wrapper {
    display: grid;
    grid-template-rows: 1fr auto;

    @media screen(lg) {
      gap: theme("gap.4");
      grid-template-rows: 2fr auto;
      grid-template-columns: theme("width.52") 1fr;
      grid-template-areas:
        "s a"
        "s a";
    }

    @media screen(xl) {
      grid-template-rows: 1fr auto;
      grid-template-columns: theme("width.48") 1fr minmax(
          auto,
          theme("width.60")
        );
      grid-template-areas: "s a t";
    }
  }

  #sidenav {
    grid-area: s;
  }

  #article {
    grid-area: a;
  }

  #toc {
    grid-area: t;
  }
}
