@layer components {
  .collapse {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .collapse__title > button {
    flex-grow: 1;
  }

  .collapse__menu {
    transition: height 150ms;
    @apply relative overflow-hidden;

    & .collapse__item {
      @apply pl-3 flex flex-col absolute bottom-0;
    }
  }

  .rotate {
    transform: rotate(0deg);
  }
}
