@layer components {
  .wrapper {
    .toc {
      position: sticky;
      top: theme("padding.16");

      & ol {
        & > li ol {
          padding-left: theme("padding.3");
        }

        counter-reset: toc;
        font-size: theme("fontSize.sm");

        li {
          & a::before {
            counter-increment: toc;
            content: counters(toc, ".") " ";
          }
        }

        & ul {
          padding-left: theme("padding.1");
        }
      }
    }
  }

  .toc-box > ol {
    padding-left: theme("padding.2");
  }
}
