@layer components {
  #wrapper {
    .toc {
      position: sticky;
      top: theme("padding.16");

      & ol {
        & > li ol {
          padding-left: theme("padding.3");
        }

        counter-reset: toc;
        font-size: theme("fontSize.sm");
        /* font-weight: theme("fontWeight.semibold"); */

        li {
          &::before {
            counter-increment: toc;
            content: counters(toc, ".") " ";
          }
        }

        & ul {
          padding-left: theme("padding.1");
        }
      }
    }
  }
}
